body {
	background-image: url(../img/background.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
#game-board img {
    width: 150px;
    height: 150px;
    margin-right: 5px;
    margin-top: 5px;
}
h1 {
	font-size: 56px;
	text-align: center;
	color: #F0F8FF
}
#elapsed-seconds, h2 {
	font-size: 48px;
	font-weight: 800;
	color: #F0F8FF;
	text-align: center;
}
